.container {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold; 
    font-size: 24px;
    text-shadow: 1px 1px 2px black, 
    0 0 25px palevioletred, 
    0 0 5px red;
    border: dashed 15px sandybrown;
    border-radius: 50px;
}

.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.img {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        float:left;
}

#Footer{
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    margin-bottom:10px;
    border:dotted 10px palevioletred;
}